<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Soldier</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <style>
    /* Add styles here, similar to the styles from index.html */
  </style>
</head>
<body>
  <header>
    <div class="container">
      <h1>Add Soldier</h1>
      <a href="/">Back to List</a>
    </div>
   
   

  </header>

  <div class="container">
    <form action="/add" method="post">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <br>
      <label for="date_of_birth">Date of Birth:</label>
      <input type="date" id="date_of_birth" name="date_of_birth">
      <br>
      <label for="rank">Rank:</label>
      <input type="text" id="rank" name="rank">
      <br>
      <input type="submit" value="Add Soldier">
    </form>
  </div>
</body>
</html>
