<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Soldier</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  <header>
    <div class="container">
       
      <h1>Add Soldier</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/soldierlistFULL">Soldier List</a>
        <a href="/addFULL">Add New Soldier</a>
        <a href="/search">Search and Update Soldier</a>
       </nav>
    </div>
  </header>
  <br><br><br>
    <form action="/addFULL" method="post">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
      <label for="firstname">First Name:</label>
      <input type="text" id="firstname" name="firstname" required>
      <br>
      <label for="lastname">Last Name:</label>
      <input type="text" id="lastname" name="lastname" required>
      <br>
      <label for="country">Country:</label>
      <select id="country" name="country" class="options" required>
        <option value="">Select Country</option>
        <option value="United States">United States</option>
        <option value="Russia">Russia</option>
        <option value="Greece">Greece</option>
    </select><br><br>
      <br>
      <label for="servicebranch">Service Branch:</label>
      <input type="text" id="servicebranch" name="servicebranch" >
      <br>
      <label for="date_of_birth">Date of Birth:</label>
      <input type="date" id="date_of_birth" name="date_of_birth">
      <br>
      <label for="rank">Rank:</label>
      <input type="text" id="rank" name="rank">
      <br>
      <label for="date_of_death">Date of Death:</label>
      <input type="date" id="date_of_death" name="date_of_death">
      <br>
      <input type="submit" value="Add Soldier">
    </form>
  </div>
</body>
</html>
