!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Soldiers List</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
  <header>
  <div class="container">
    <h1> WW2 Jewish Soldiers</h1>
    <a href="/">Home</a>
    <a href="/soldierlistFULL">Soldier List</a>
    <a href="/addFULL">Add New Soldier</a>
  </div>
</header>
<body>
 <div class="container">
      
    <h2 style = "text-align: center;">
      1.5 million Jewish Soldiers served in WW2 for the Allied countries. 
        <br> <br>500,000 from the United States <br> <br> 500,000 from Russia <br><br> 500,000 from the rest of the Allied countries. 
        <br><br>Over 250,000 Jewish soldiers failed to come home.
        <br> <br>We honor the memory of all our soldiers. <br><br>
        This website is a portal to load information about our honored soldiers. 
        <br><br>They fought for the freedom of our world and we are ever in their debt.
     </h2>
   
  </div>
</body>
</html>
